Repository acsdeveloper2025/acs-web, changes with the owners that CODEOWNERS names for each.
All owners: @acs-team, @acs-frontend-team, @acs-design-team, @acs-devops-team, @acs-qa-team

feat: implement comprehensive form viewer component
  package-lock.json
  package.json
  src/App.tsx
  src/components/forms/FormAttachmentsViewer.tsx
  src/components/forms/FormFieldViewer.tsx
  src/components/forms/FormLocationViewer.tsx
  src/components/forms/FormMetadataViewer.tsx
  src/components/forms/FormViewer.tsx
  src/components/ui/collapsible.tsx
  src/constants/navigation.ts
  src/pages/FormViewerPage.tsx
  src/types/form.ts
Owners: @acs-frontend-team, @acs-design-team

feat: implement comprehensive security and UX enhancements
  src/App.tsx
  src/components/ErrorBoundary.tsx
  src/components/layout/Header.tsx
  src/components/ui/loading.tsx
  src/constants/navigation.ts
  src/contexts/ThemeContext.tsx
  src/hooks/useErrorHandling.ts
  src/hooks/useResponsive.ts
  src/pages/SecurityUXPage.tsx
  src/utils/security.ts
Owners: @acs-frontend-team, @acs-design-team

feat: implement comprehensive testing and documentation suite
  README.md
  cypress.config.ts
  cypress/e2e/auth.cy.ts
  cypress/e2e/dashboard.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
  src/components/ui/__tests__/button.test.tsx
  src/components/ui/__tests__/loading.test.tsx
  src/hooks/__tests__/useErrorHandling.test.ts
  src/hooks/useResponsive.ts
  src/test/setup.ts
  src/test/utils.tsx
  vitest.config.ts
Owners: @acs-team, @acs-frontend-team, @acs-qa-team, @acs-design-team

fix: rename useResponsive.ts to useResponsive.tsx for JSX support
  Dockerfile
  src/hooks/useResponsive.tsx
Owners: @acs-team, @acs-frontend-team

feat: Complete authentication system integration
  src/App.tsx
  src/pages/EnhancedLoginPage.tsx
  src/pages/SimpleDashboardPage.tsx
  src/pages/SimpleLoginPage.tsx
Owners: @acs-frontend-team

feat: Implement comprehensive CRM web application features
  package-lock.json
  package.json
  src/App.tsx
  src/pages/SettingsPage.tsx
Owners: @acs-frontend-team

feat: Complete CSS styling overhaul with Tailwind CSS v4
  package.json
  src/components/clients/BulkImportDialog.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/Sidebar.tsx
  src/components/realtime/NotificationCenter.tsx
  src/components/ui/calendar.tsx
  src/components/ui/loading.tsx
  src/components/users/CreateUserDialog.tsx
  src/components/users/ResetPasswordDialog.tsx
  src/components/users/RolePermissionsTable.tsx
  src/constants/navigation.ts
  src/hooks/useResponsive.tsx
  src/index.css
  src/pages/DashboardPage.tsx
  src/pages/ReportsPage.tsx
  src/services/api.ts
  src/services/auth.ts
  src/services/websocket.ts
  src/test/utils.tsx
  src/types/api.ts
  src/types/billing.ts
  src/types/case.ts
  src/types/form.ts
  src/types/reports.ts
  src/types/user.ts
  src/types/websocket.ts
  src/utils/security.ts
  styling-improvements-summary.md
  tailwind.config.js
  test-fixes.md
  tsconfig.app.json
Owners: @acs-frontend-team, @acs-design-team, @acs-team

feat: Complete frontend modernization with Tailwind CSS v4 and enhanced UX
  layout-fixes-summary.md
  src/components/billing/InvoicesTable.tsx
  src/components/cases/CaseFilters.tsx
  src/components/clients/BulkImportDialog.tsx
  src/components/clients/CreateClientDialog.tsx
  src/components/clients/CreateProductDialog.tsx
  src/components/clients/CreateVerificationTypeDialog.tsx
  src/components/layout/Header.tsx
  src/components/layout/Layout.tsx
  src/components/layout/Sidebar.tsx
  src/components/locations/BulkImportLocationDialog.tsx
  src/components/users/BulkImportUsersDialog.tsx
  src/hooks/useErrorHandling.ts
  src/index.css
  src/pages/CasesPage.tsx
  src/pages/RealTimePage.tsx
  src/pages/SecurityUXPage.tsx
  src/services/clients.ts
Owners: @acs-team, @acs-frontend-team, @acs-design-team

fix: Resolve Select component empty string value errors and enhance error handling
  DOCKER.md
  nginx.conf
  src/components/reports/GenerateReportDialog.tsx
  src/pages/BillingPage.tsx
  src/pages/LocationsPage.tsx
  src/pages/ReportsPage.tsx
  src/pages/UsersPage.tsx
Owners: @acs-team, @acs-frontend-team, @acs-design-team

CODEOWNERS:

# Global Owners
* @acs-team

# Frontend specific
/src/ @acs-frontend-team
/public/ @acs-frontend-team @acs-design-team

# Component library
/src/components/ @acs-frontend-team @acs-design-team

# Configuration files
/.github/ @acs-devops-team
/package.json @acs-frontend-team
/package-lock.json @acs-frontend-team
/.env.example @acs-frontend-team
/next.config.js @acs-frontend-team
/tailwind.config.js @acs-frontend-team @acs-design-team
/docker* @acs-devops-team

# Testing
/cypress/ @acs-frontend-team @acs-qa-team
/playwright/ @acs-frontend-team @acs-qa-team
/__tests__/ @acs-frontend-team

# Documentation
/README.md @acs-team
/docs/ @acs-team
